repos:
  - repo: local
    hooks:
      - id: ruff
        name: Ruff Linter
        entry: ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: Ruff Formatter
        entry: ruff format
        language: system
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace

      - id: end-of-file-fixer
        name: Fix End of Files

      - id: check-yaml
        name: Check YAML

      - id: check-toml
        name: Check TOML
